
<div class = "footer">
  <%=link_to "About", about_path %> | We want your events! Contact the <a href="mailto:teudumoderator@gmail.com">Moderator</a> to gain access to the system.| Copyright acm@cmu 2012 
</div>
