<div class="container" id = "approval">
	<h1>My Events</h1>
	<ul id="user-events">
	<% @organizationsEvents.each do |organization| %>
		<li><h2><%= organization.name %></h2>
			<% if !organization.events.nil? %>
				<div>
				<% organization.events.each do |event| %>
				<div id="event"><%= render event  %></div>
				<% end %>
				</div>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>
