<div class="container">
	<div class="pageText">
		<h1>Welcome to Teudu.</h1>
		
		<h2>Why?</h2>
		<p class="paragraphtext">
		Last year, President Cohon posed a question to his student advisory council: is Carnegie Mellon fun? After some discussion, the students came to the conclusion that while there are a number of diverse interesting events on campus students just don't know about them: publicity and discovery are problems. Teudu was born as an answer: a highly visual, interactive, and most important, filterable, advertising medium.
		</p>

		<h2>How can I submit my events?</h2>
		<p class="paragraphtext">
		Currently, only members of student organizations can add events to Teudu. If you are a member of a student organization and wish to have access to the Teudu system, please contact our <a href="mailto:teudumoderator@gmail.com">moderator</a>.
		</p>

		<h2>About the creators</h2>
		<p class="paragraphtext">
		Teudu was created in part by the <a href="http://acmatcmu.org/">ACM Apps Team</a>. Key developers include Kyle Griswold, Stephanie Luck, Vivek Pai, Avesh Singh, and Vilcya Wirantana.
		<br> <br>
		The front end developers are Connie S Wen, .
		<br><br>
		Teudu was originally an <a href="http://www.cmu.edu/information-systems">Information Systems</a> two-semester capstone project envisioned by the Teudu project team: Miki Bentz, Shruti Kataria, Harold Kim, Vivek Pai, Raja Sooriamurthi (advisor), and Brian Yee. It is now maintained exclusively by the ACM Apps Team.
		</p>
	</div>
</div>
