/**
 * Base styles for the events controller
 *
 *  Necessary isotope styles for animation
 *= require base
 *= require isotope
 *
 * It's also necessary to import SCSS mixins and stuff.
 */
@mixin transition($property, $duration, $delay:0) {
  -webkit-transition: $property $duration $delay ease-in;
  -moz-transition: $property $duration $delay ease-in;
  -o-transition: $property $duration $delay ease-in;
  -ms-transition: $property $duration $delay ease-in;
  transition: $property $duration $delay ease-in;
}

$border_color: #CCC;

$event_width: 200px;
$event_height: 200px;
$event_caption_offset: -27px;
$event_expanded_zindex: 900;



#noevent {
	 margin: auto auto;
	 width: 200px;
	 border: 2px solid black;
}


#eventscontainer { 
	margin-left: 275px;
	padding-left: 25px;
	#event {
	float: left;
	}
}



.category-list {
	.expanded {

	}
	list-style-type: none;
	padding-bottom: 20px;
	text-align: center;
	min-width: 1000px;
	li {
	 display: inline-table;
	 text-align: center;
	 width: 100px;
	 font-size: 17px; 
	 font-weight: bold;
	 padding: 8px;
	 margin-left: -5px;
	 letter-spacing: 1px;
	 border: 0px dotted #888;
	 border-width: 0px 1px 0px 0px;
	 &:hover {
		background-color: #8C0F2E;
		color: white;
		text-shadow: 0px 1px 1px #000;
		cursor: pointer; }
	}

	.catname-0 {
		border: 0px;
	}
}

.events-col-info {
	float: left;
	font-family: 'News Cycle';
	padding: 15px;
	background: rgba(0,0,0,0.65);
	width: 250px;
	padding-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	> h2 {
		color: white;
		border-bottom: 1px dotted #FFF;
		padding-bottom: 8px;
		margin-bottom: 15px;
	}
	
	.info-main {
    	color: #FFF;
		line-height: 1.42em;

		h2 {
			font-size: 2em;
			line-height: 1.03em;
			margin-bottom: 11px; }
		#info-desc {
      		margin-bottom: 1em; }
		#info-date {
      		font-weight: bold; }
		#info-location {
			margin-bottom: 1em; }
	}
}

.event {
	background: #222; color: #FFF;
	cursor: pointer; float: left;
	margin: 5px; overflow: hidden;
	position: relative;
	border: 1px solid #555;
	box-shadow: 4px 4px 0px #888;
  
  width: $event_width;
  height: $event_height;
  
  h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  .event-category, .event-info{
      display: none;
  }
}

.event:hover {
	top: -3px;
	box-shadow: 4px 6px 0px #888;
}

h1 {
		font-size: 25px;
		font-weight: bold;
		border-bottom: 1px dashed #777;
		width: 100%; padding: 10px 0px 18px 0px;
		margin-bottom: 25px; }

/* CREATE AN EVENT */


.container#cEvent, .event-form {
		  width: 76%;
		  margin: auto auto; 
	
		
	.form-info input, .form-info textarea, .form-info select {
		font-size: 14px;
		padding: 5px 10px;
		border: 1px solid #CCC;
		width: 330px;
		opacity: 0.7;
		font-family:inherit;
		display: inline-block;
		&:focus {
			background: #F0F0F0;
		}
	}
	
	.form-info {
	float: left;
		width: 70%;
		display: inline;
		label {
			display: inline-block; width: 110px;
			text-align: left; padding: 10px; float: left;
			}
			p{
				display: inline-block; 
			text-align: left;
			margin-left: 130px;
			margin-bottom: 10px;
			clear: both;
			width: 400px;
			}
		textarea {
			 
			height: 200px; }
			.summary_field{
				height: 100px;
			}

		input.datepicker {
			width: 200px; }

	}

	div.actions {
		width: 100%;
		display: block;
		text-align: center;
		margin-top: 25px;
		border-top: 1px dashed #999;
		padding-top: 18px;
		clear: both;
	}
	
	.actions input {
    	cursor: pointer;
		&:enabled {
			padding: 10px 25px;
			font-family: 'Helvetica Neue', Arial, sans-serif;
			color: white; font-size: 24px;
			font-weight: bold;
			border: 0px;
			-webkit-border-radius: 6px;
			text-shadow: 0px 1px 3px #333;
			box-shadow: 0px 2px 3px #222; 
			background: #8C0F2E;
			background: -moz-linear-gradient(top,  #8C0F2E 0%, #5f0F2E 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8C0F2E), color-stop(100%,#5f0F2E));
			background: -webkit-linear-gradient(top,  #8C0F2E 0%, #5f0F2E 100%);
			background: -o-linear-gradient(top,  #8C0F2E 0%,#5f0F2E 100%);
			background: -ms-linear-gradient(top,  #8C0F2E 0%,#5f0F2E 100%);
			background: linear-gradient(top,  #8C0F2E 0%,#5f0F2E 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C0F2E', endColorstr='#5f0F2E',GradientType=0 );
			
		}
	}
	
	.event-categories {
//		display: inline-table;	
//		width: 25%;
//		float: right;
//left: 545px;
//position:relative;
//top: -605px;
float: left;
margin-left: 10px;
margin-top: 5px;
		ul {
			margin-top: 25px; }
		li {
			list-style-type: none;
			width: 200px;
			display: block;
		}
	}	
}

/*** BUTTON STYLES ***/
.cat-button {
	display: inline-block;
  text-shadow: 0px 1px 0px #FFF;
  padding: 8px 12px;
  width: 90px;
  font-weight: bold;
  margin-bottom: 5px;
  border-left: 4px solid #8C0F2E;
  font-size: 13px;
  border-bottom: 1px solid #CCC;
  
  background-image: linear-gradient(bottom, rgb(240,240,240) 48%, (247,244,247) 85%);
  background-image: -o-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(240,240,240)),
    color-stop(0.85, rgb(247,244,247))
  );
}

.cat-button:hover, input:checked {
  cursor: pointer;
  background: black;
  color: #FFF;
  text-shadow: 0px 1px 0px #888;
  
  background-image: linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -o-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(135,135,135)),
    color-stop(0.85, rgb(112,112,112))
  );
}

.cat-button:active {
  border-left: 4px solid darkred;
}

ul#user-events li{
	clear:both;
	display:block;
}

.modify-tools{
	position:absolute;
	width: 100%;
	top: 175px;
	height: 30px;
	background-color: #888;
}

.edit-link, .delete-link, edit-link:visited, .delete-link:visited{
	position:relative;
	left: 5px;
	top: 5px;
	text-transform: uppercase;
	text-decoration: none !important;
	color: black !important;
}

.edit-link:hover, .delete-link:hover{
	text-decoration: underline !important;
}

.delete-link,.delete-link:visited{
	color: #8C0F2E !important;
}
