pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: #8C0F2E;
  color: #ffffff;
  font-weight: bold;
  display: table; 
  list-style-type: none;}

#error_explanation {
//  list-style-type: none;	
  width: 450px;
  border: 2px solid #8C0F2E;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #8C0F2E;
    color: #fff; }
  ul {
    padding: 10px 10px 10px 20px;}
  ul li {
    font-size: 12px;
    list-style-type: square; 
    } }
