<div class="container" id="cEvent">
	
	<div class="event-form">
	<h1>Editing <%= @organization.name %></h1>

		<%= render 'form' %>
	</div>
	<%= link_to 'Show', @organization %> |
	<%= link_to 'Back', organizations_path %>
</div>
