<div class="container" id="approval">
	<h1>Listing organizations</h1>

	<table>
		<thead>
	  <tr>
		<th>Name</th>
		<th></th>
		<th></th>
	  </tr>
	</thead>
	<tbody>
	<% @organizations.each do |organization| %>
	  <tr>
		<td><%= link_to organization.name, organization %></td>
		<td><%= link_to 'Edit', edit_organization_path(organization) %></td>
		<td><%= link_to 'Remove', organization, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</tbody>
	</table>

	<br />

	<%= link_to 'New Organization', new_organization_path %>
</div>